body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0b1522;
    margin: 0;
}

.heart {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #f20044;
    transform: rotate(-45deg);
    animation: pulse 1s infinite;
}

.heart:before,
.heart:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #f20044;
    border-radius: 50%;
    box-shadow: -20px 20px 100px 12px #f20044;
}

.heart:before {
    top: -50px;
    left: 0;
}

.heart:after {
    left: 50px;
    top: 0;
}

@keyframes pulse {
    0%, 100% {
        transform: scale(1) rotate(-45deg);
    }
    50% {
        transform: scale(1.1) rotate(-45deg);
    }
}
